{% extends 'base.html' %}
{% block content %}
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Leave Types</div>
    <div class="card-body">
        <form action="./add_leave_master" class="inline">
            <button class="float-right btn-primary btn-lg">Add Leave Type</button>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave_master in leave_masters %}
                    <tr>
                        <td>{{leave_master.name}}</td>
                        <td>{{leave_master.value}}</td>
                        <td>
                            <form action="./delete_leave_master/{{leave_master.id}}" class="inline">
                                <button class=" btn float-right btn-danger  ml-1 mr-md-3">Delete</button>
                            </form>
                            <form action="./edit_leave_master/{{leave_master.id}}" class="inline">
                                <button class="btn float-left btn-primary mr-1 ml-md-3">Update</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}