{% extends 'base.html' %}
{% block content %}
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Employees</div>
    <form action="./add_employee" class="inline">
        <button class="float-right btn-primary btn-lg">Add Employee</button>
    </form>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Employee No.</th>
                        <th>Hire Date</th>
                        <th>Leave Balance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{employee.full_name}}</td>
                        <td>{{employee.emp_number}}</td>
                        <td>{{employee.hire_date}}</td>
                        <td>{{employee.leave_balance}}</td>
                        <td>
                            <form action="./delete_employee/{{employee.id}}" class="inline">
                                <button class="btn float-right btn-danger  ml-1">Delete</button>
                            </form>
                            <form action="./edit_employee/{{employee.id}}" class="inline">
                                <button class="btn float-left btn-primary">Update</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}